{% extends 'base.html' %}
{% load static %}
{% block body %}  

<div class=" text-white rounded bg-dark">
    <div class="container-fluid ">
    
     <div class="container">
       <h1 class="display-4 fst-italic p-10">IOE Thapathali Campus </h1>
<h2 class="title">Introduction</h2>
<p>
</p><p style="text-align: justify;">In the presence of Late King Mahendra, Late Dr. Heinrich lubk, Presendent of Federal Republic of Germany inaugurated Technical Institute (TTI) on 29th of Falgun 2023 B.S. The Technical Training Institute(TTI) offered midlevel manpower course in mechanical engineering, automobile engineering, electrical engineering and mechanical drafting beginning. With the assistance from the Government of Federal republic of Germany, Technical Training Institute Project (TTIP) was established in Nepal in 2019 B.S., with the sole objective of producing trained tradespersons and technicians needed for the development of the country. TTI started three years vocational training in mechanical, automobile and electrical trades for S.L.C. graduates from 2022 B.S. to 2024 B.S. At the meantime, the three years course in mechanical drafting was transferred to Pulchowk, IOE.</p>
<p style="text-align: justify;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="/userfiles/image/Capture.JPG" width="50%" alt=""></p>
<p style="text-align: justify;">From 2029 B.S. this Technical Training Institute (TTI) was renamed as Thapathali Campus under Tribhuvan University (T.U.) and known as Institute of Engineering, Thapathali Campus thereafter. Campus started diploma in mechanical engineering and diploma in automobile engineering 2043 B.S. and later on, diploma in electronics engineering and diploma computer engineering started from 2058 B.S.</p>

<div class="container "    style = "margin-left: 15rem;">
<p><img src="{% static 'about1.jpg' %}" width="50%" class = "img-fluid" float = "right" alt=""></p> <p></p>
</div>
<p style="text-align: justify;">According to the policy of Institute of Engineering (IOE), campus introduce bachelor in Industrial engineering in 2062 B.S., bachelor in Civil engineering in 2066 B.S., bachelor in electronics and communication engineering in 2067 B.S., bachelor in mechanical engineering in 2068 B.S., by stopping new intakes in any diploma courses from 2070 B. S. Again, Campus has intake bachelor in architecture and master in earthquake engineering in 2071 B.S., bachelor in automobile engineering in 2072 B.S. and master in mechanical design &amp; manufacturing in 2073 B.S. also.</p>
<p style="text-align: justify;">The existing infrastructures, human resources moreover fulfill the requirement of diploma level courses. There is an utmost need of renovation restructuring the existing infrastructures and human resources to stabilize the bachelor programs and also to address the growing demands. To sustain the restructuring and complete it, and to aggressively move forward to achieve higher levels of excellence with the intent of becoming one of the engineering campus in the nation, a comprehensive restructuring document is necessary. Creating a plan involves listening to many ideas from stake holders, assembling the ideas into a framework that support the mission and vision of the campus.</p>
</div>
    </div>
  </div>

{% endblock body %} 
{% block title %}Home{% endblock title %}